:root {
    font-size: 14px;
    --violeta: #6E72FB;
    --mint: #6BFFE8;
    --dark-mint: #30C7AC;
    --dark: #37475A;
    --dark-base: #212B37;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

body{
	background-color: #37465B;
	color: #FFF;
	line-height: 1.6em;
	margin: 0;	
}

.secbackground{
	font-family: Helvetica;
	background-color: #212B38;
	margin: auto;
	text-align: center;
	height: 200px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 50px;
}

.head{
	width: 80%;
	margin: auto;
	overflow: hidden;
	text-align: right;
}


a {
    text-decoration: none;
    color: var(--dark-mint);
}

a:hover {
    color: var(--mint);
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.nav-item {
    padding: 1rem;
    margin-left: 0.25rem;
}


.headline{
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 40px;
}

.subline{
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
}

#members{
	width: 100%;
}

#container{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(7,1fr);
	width: 45%;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 50px;
	float: left;
	height: 500px;
}

#container div{
	padding: 10px;
}

.picture{
    grid-column: 1 / 8;
    grid-row: 1 / 7;
    background: #212B38;
	border: black solid 5px;
}
.quote{
    grid-column: 1 / 8;
    grid-row: 7 / 8;
	background: #726EFF;
	text-align: center;
}
.name{
    grid-column: 8 / 13;
    grid-row:  1 / 2;
    background: #212B38;
}

h2{
	text-align: center;
	padding-top: 10px;
	margin: 0;
}

.titlebday{
	grid-column: 8 / 9;
	grid-row: 2/3;
	background: #726EFF;
	border-right: black solid 1px;
}

.titlehometown{
	grid-column: 8 / 9;
	grid-row: 3/4;
	background: #212B38;
	border-right: black solid 1px;
}

.titlebatch{
	grid-column: 8 / 9;
	grid-row: 4/5;
	background: #726EFF;
	border-right: black solid 1px;
}

.titlebatchorg{
	grid-column: 8 / 9;
	grid-row: 5/6;
	background: #212B38;
	border-right: black solid 1px;
}

.titleinterest{
	grid-column: 8 / 9;
	grid-row: 6/7;
	background: #726EFF;
	border-right: black solid 1px;
}

.titlehobby{
	grid-column: 8 / 9;
	grid-row: 7/8;
	background: #212B38;
	border-right: black solid 1px;
}

.bday{
	grid-column: 9 / 13;
	grid-row: 2/3;
	background: #726EFF;
}

.hometown{
	grid-column: 9 / 13;
	grid-row: 3/4;
	background: #212B38;
}

.batch{
	grid-column: 9 / 13;
	grid-row: 4/5;
	background: #726EFF;
}

.batchorg{
	grid-column: 9 / 13;
	grid-row: 5/6;
	background: #212B38;
}

.interest{
	grid-column: 9 / 13;
	grid-row: 6/7;
	background: #726EFF;
}

.hobby{
	grid-column: 9 / 13;
	grid-row: 7/8;
	background: #212B38;
}

img{
	height: 100%;
	width: 100%;
}
	