:root {
    font-size: 14px;
    --violeta: #6E72FB;
    --mint: #6BFFE8;
    --dark-mint: #30C7AC;
    --dark: #37475A;
    --dark-base: #212B37;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

* {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
}

html {
    min-width: 1400px;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--dark);
}

body::-webkit-scrollbar-thumb {
    background: var(--dark-mint);
}

.main1 {
    height: 100vh;
    width: 100vw;
}

.bg {
    position: absolute;
    z-index: -1;
    height: 100%;
}

.bg-media {
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: var(--dark-mint);
}

a:hover {
    color: var(--mint);
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.nav-item {
    padding: 1rem;
    margin-left: 0.25rem;
}

.item5 {
    margin-right: 30px;
}

.logo {
    transform: translateY(100px);
    padding-left: 100px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.media1 {
    padding-top: 10rem;
    max-width: 500px;
    width: 500px;
}

.contents {
    padding-right: 5rem;
}

.greetings {
    color: var(--violeta);
    font-size: 5rem;
}

.description {
    font-family: var(--secondary-font);
    width: 25rem;
}

.main2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-base);
    top: 0;
    left: 0;
}

.message {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    font-size: 3rem;
    color: var(--mint);
}

.development {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.media2 {
    margin-left: 10rem;
    max-width: 700px;
}

.note {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    color: whitesmoke;
}